<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>Vespucci</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">
		<style type="text/css">
			html, body { height: 100%; margin: 0; padding: 0; }
			#map { height: 100%; }
		</style>
</head>
<body>
		{{{ body }}}
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		var globaljson;
		/*
		* latitude, longitude, sentiment, size. Creates a dot on the map
		*/
		function addCircle(alat, along, sent, size) {
			var fillColor = '#FF0000';
			if(sent > .6) {
					fillColor = '#008000';
			} else if (sent > -.7) {
					fillColor = '#FFFF00';
			}
			var cityCircle = new google.maps.Circle({
				strokeColor: fillColor,
				strokeOpacity: 0.8,
				strokeWeight: 0,
				fillColor: fillColor,
				fillOpacity: 0.35,
				map: map,
				center: {lat: alat, lng: along},
				radius: size * 1000
			});
			return cityCircle;
		}

		// * creates a map at a specified latitude and longitude
		function instantiateMap(alat, along) {
			var myLatLng = {lat: alat, lng: along};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 13,
				center: myLatLng
			});
			return map;
		}

		function makeLocation(json, obj){
			var instalinks = [];
			var contentCount = 0;
			for(var insta in json[obj].instagram) {
				instalinks.push(json[obj].instagram[insta].link);
				count += 2;
			}
			var location = {};
			location.lat = json[obj].loc.latitude;
			location.lng = json[obj].loc.longitude;
			location.eventname = json[obj].loc.name;
			location.instagram = instalinks;
			location.count = contentCount;
			location.address = json[obj].foursquare.location.formattedAddress[0];
			if (json[obj].foursquare.contact.formattedPhone) {
				location.phone = json[obj].foursquare.contact.formattedPhone;
			}
			if(json[obj].stats.checkinsCount){
				location.visitors = json[obj].foursquare.stats.checkinsCount;
			}
			location.placename = json[obj].foursquare.name;
			return location;
		}
		/*
		* latitude, longitude, sentiment, size. Creates a dot on the map
		*/
		function addMarker(currentLatLng, map, title) {
			var marker = new google.maps.Marker({
				position: currentLatLng,
				map: map,
				title: 'Hello World!'
			});
			return marker;
		}

		function initMap() {
			var maxNumberLocations = 10;

			var officialLat = 33.7550;
			var officialLong = -84.3900;
			var currentLatLng = {lat: officialLat, lng: officialLong};
			var map = instantiateMap(officialLat, officialLong);

			var marker = new google.maps.Marker({
				position: currentLatLng,
				map: map,
				title: 'Hello World!'
			});

			var marker = addMarker(currentLatLng, map, 'Hello Wold!');

			//calls gets all data from api
			gettext = function(url, callback) // How can I use this callback?
			{
				var request = new XMLHttpRequest();
				request.onreadystatechange = function()
				{
					if (request.readyState == 4 && request.status == 200)
					{
						mycallback(request.responseText); // Another callback here
					}
				}; 
				request.open('GET', 'http://vespucci.me/api/search/' + officialLat + "/" + officialLong);
				request.send();
			}
			//populate the map
			function mycallback(data) {
			  	alert(data);
				//object that essentially acts as a hashmap
				var uuidToCount = {};
				var counter = 0;
				var json = JSON.parse(data);
				globaljson = json;
				for(var entryIndex in json) {
					counter = 0;
					var uuid = json[entryIndex].uuid;
					for(var twitterEntryIndex in json[entryIndex].tweets) {
						counter = counter + 1;
					}
					for(var instagramEntryIndex in json[entryIndex].instagram) {
						counter = counter + 2;
					}
					console.log(uuid + ': ' + counter);
					uuidToCount[uuid] = counter;
				}
				var desiredUUIDs = [];
				for(var i = 0 ; i < maxNumberLocations ; i++) {
					var largestValue = -1;
					var largestKey = "";
					console.log('swag');
					for(var key in uuidToCount) {
							if(uuidToCount[key] > largestValue && desiredUUIDs.indexOf(key) == -1) {
								largestValue = uuidToCount[key];
								largestKey = key;
							}
					}
					desiredUUIDs.push(largestKey);
					delete uuidToCount.largestKey;
				}
				
				/**
					vvvvv TEJAS THIS IS THE LIST  vvvvvv
				**/
				locations = [];
				
				//populating the list, calls makeLocation which builds the location object
				for(var i = 0; i < desiredUUIDs.length; i++) {
					for(var obj in json){
						if (json[obj].uuid === desiredUUIDs[i]) {
							locations.push(makeLocation(json, obj));
						}
					}
				}
				
			}
			gettext(null, mycallback); 
		}

		</script>

		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfUVwIfC6Q_suaMQrN_qXtdCyw4oXaqAk&callback=initMap">
		</script>


</body>
</html>
