
<div id="blur"></div>

<div id="headerbackground">
	<div id="headerbar">
		<a href=""><h1 id="smalllogo">Vespucci</h1></a>
		<div class="container" id="headercontent">
		  <h1 id="mainlogo">Vespucci</h1>

			<form id="searchBar">
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="Discover the Uncharted..." id="autocomplete">
			  </div>
			  <a href=""><p id="back">back</p></a>
			</form>

		  <div class="break"></div>
 
		  <div id ="options" class="row">
		  	<div id = "optionSearch" class="col-md-6">
		  		<button class="btn btn-success toggleOptions" id="searchbutton"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Search</button>
		  	</div>
		  	<div id = "optionLocate" class="col-md-6">
		  		<button class="btn btn-danger toggleOptions" id="locationbutton"><span class="glyphicon glyphicon-pushpin"></span>&nbsp;&nbsp;Locate</button>
		  	</div>
		  </div>
		  
		</div>
	</div>
<div>

<div id="map"><div>