<div id="blur"></div>

<div id="headerbackground">
	<div id="headerbar">
		<h1 id="smalllogo">Vespucci</h1>
		<div class="container" id="headercontent">
		  <h1 id="mainlogo">Vespucci</h1>
		  <div class="input-group" id="searchBar">
		    <input class = "form-control" type"text" placeholder="Discover the Uncharted..." id="autocomplete">
		    <span class="input-group-btn">
		      <button class="btn btn-default" id="locationbutton" type="button" onclick="geolocate()"><span class="glyphicon glyphicon-pushpin"></span></button>
		    </span>
		  </div>
		</div>
	</div>
<div>

<div id="map"><div>