body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h1 {
	font-family: Raleway;
	font-size: 70px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 26.4px;
}
h3 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Raleway;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
#headercontent {
  width: 70%;
  position: relative;
  top: 100px;
  text-align: center;
}
#searchBar {
	position: relative;
	top: 60px;
}
#smalllogo {
	padding: 0;
	margin: 0;
	color: white;
	float: left;
	display: none;
	position: relative;
	left: 30px;
	font-size: 2.5em;
}
#headerbar {
	padding: 20px 0;
}