html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:auto !important;
}
a {
  color: #00B7FF;
}
button, button:hover, button:active, button:focus {
  outline: none !important;
}
a:hover {
	text-decoration: none;
}
@font-face {
	font-family: Gidole-Regular;
	src: url(/fonts/Gidole-Regular.ttf);
} 
h1 {
	font-family: Gidole-Regular;
	font-size: 90px;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: 26.4px;
	color: white;
}
h3 {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Raleway;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
#map {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; 
	z-index: -1;
	padding: 0;
	margin: 0;
}
#blur {
	width: 100%;
	height: 100%;
	display: block;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: grey;
  position: fixed;
  z-index: 0;
  opacity: 0.5;
}
#headercontent {
  width: 80%;
  position: relative;
  top: 100px;
  text-align: center;
}
#searchBar {
	position: relative;
	top: 60px;
	width: 80%;
	padding: 0;
	margin: 0 auto; 
	z-index: 1;
	display: none;
}
a:hover {
	color: white;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
#mainlogo {
	color: white;
	text-shadow: 1px 1px grey;
}
#smalllogo {
	padding: 0 0 0 20px;
	margin: 0;
	float: left;
	display: none;
	font-size: 2em;
	position: relative;
	top:3px;
	text-shadow: 1px 1px grey;
}
#headerbar {
	padding: 20px 0 10px 0;
	width: 80%;
	margin: 0 auto;
	z-index: 1;
}
.break {
	clear:both;
}
#options {
	position: relative;
	top: 100px;
}
.toggleOptions {
	height: 80px;
	width: 300px;
	font-size: 2em;
}
#back {
	font-weight: bold;
	color: white;
	font-size: 1.3em;
	text-shadow: 1px 1px grey;
}
.blurbHeader, .visitValue {
	color: black;
	font-size: 1.5em;
}
#leggo {
	position: relative;
	left: 175px;
}
.eventDesc {
	font-size: 0.75em;
}
.instagram {
	position: relative;
	left: 20px;
}
.leftDiv {
	float: left;
	padding: 0 20px;
	width: 200px;
	word-wrap: break-word;
}
.rightDiv {
	float: left;
	padding: 0 20px;
	border-left: 1px solid #D1D1D1;
}
@media (max-width: 500px) {
	#mainlogo {
		font-size: 4em;
	}
	.toggleOptions {
		height: 70px;
		width: 190px;
		font-size: 2em; 
	}
	#optionSearch {
		margin-bottom: 30px;
	}
	#searchBar {
		width: 60%;
	}
}
@media (min-width: 500px) and (max-width: 1000px) {
	#optionSearch {
		margin-bottom: 30px;
	}
	#searchBar {
		width: 60%;
	}
}
.iw-container {
	margin: 0 !important;
	padding: 0 !important;
	width: 400px !important;
}
.iw-content {
	margin: 0 !important;
	padding: 0 !important;
}
.gm-style-iw {
	margin: 0 !important;
	padding: 0 !important;
  width: 400px !important;
}

.iw-container, .iw-content {
	height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
}
